<link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png?v=2">
<link rel="manifest" href="/resources/favicon/site.webmanifest?v=2">
<link rel="mask-icon" href="/resources/favicon/safari-pinned-tab.svg?v=2" color="#2e2f4a">
<link rel="shortcut icon" href="/resources/favicon/favicon.ico?v=2">
<meta name="apple-mobile-web-app-title" content="1 Point">
<meta name="application-name" content="1 Point">
<meta name="msapplication-TileColor" content="#2e2f4a">
<meta name="msapplication-config" content="/resources/favicon/browserconfig.xml?v=2">
<meta name="theme-color" content="#2e2f4a">
