---
---

$primary-color: #2e2f4a;
$secondary-color: #171721;
$round-edges: 10px;
$animation-duration: 0.7s;

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #top {
    @extend #main;

    height: 100vh;
    transition: height $animation-duration;
  }
}

h1 {
  font-size: 60px;

  span {
    font-weight: 400;
  }
}

.input-box {
  width: 1220px;
}

input[type=text], input[type=button] {
  padding:10px;
  font-size: 25px;
  outline: none;
  border: none;
  font-family: "Open Sans";
}

input[type=text] {
  border-radius: $round-edges;
  color: $primary-color;
  transition: width $animation-duration;

  &:disabled {
    background-color: #c8d0de;
  }
}

input[type=button] {
  border-radius: $round-edges;
  background-color: $secondary-color;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: #0e0e14;
  }
}

#url {
  width: 1100px;
  margin-right: 0;
  border-radius: $round-edges 0 0 $round-edges;
  text-align: center;
}

#next {
  width: 100px;
  margin-left: 0;
  border-radius: 0 $round-edges $round-edges 0;
  float: right;
}

.options {
  display: none;
  width: 1220px;
  background-color: white;
  border-radius: $round-edges;
  color: black;

  #header {
    border-radius: $round-edges $round-edges 0 0;
    padding: 10px 0;
    width: 100%;
    background-color:$secondary-color;
    color: white;

    h2 {
      margin: 0;
      font-size: 28px;
      text-align: center;

      a {
        color: white;
        transition: color 0.2s;

        &:hover {
          color: #abaeff;
        }
      }

      .help {
        float: right;
        margin: 6px 16px;
        font-size: 30px;
      }
    }
  }

  #body {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .options-left {
      width: 300px;
      left: 0;
      right: 0;
      margin: auto;

      h3 {
        margin: 0;
        font-size: 20px;
      }

      input {
        margin: 5px 0 25px;
        font-size: 20px;
        border: 1px solid $primary-color;
        width: 100%;
        box-sizing: border-box;
      }
    }

    #qr-code-wrapper, #output-wrapper {
      left: 0;
      right: 0;
      margin: auto;
    }

    #output {
      border-radius: $round-edges 0 0 $round-edges;
      width: 200px;
      text-align: center;
      visibility: hidden;
    }

    #qr-code {
      visibility: hidden;
    }

    #copy-wrapper {
      visibility: hidden;
      float: right;
    }

    #copy {
      border-radius: 0 $round-edges $round-edges 0;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip #tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip #tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}
