input.signin {
    margin: 20px;
    position: fixed;
    right: 20px;
    background-color: white;
    color: #171721;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
}

input.signin:hover {
    cursor: pointer;
    background-color: #ddd;
}